/* this is where all of your CSS styles go */
#container {
   width: 600px;
   height: 400px;
   background: darkblue;
   overflow: hidden;
   position: relative;
}

#leftd {
   width: 75px;
   height: 800px;
   background: white;
   position: absolute;
   left: 50%;
   top: -185px;
   margin-left:-10px;
   transform: rotate( -56deg );
   -webkit-transform: rotate( -56deg );
   -moz-transform: rotate( -56deg );
   -ms-transform: rotate( -56deg );
}

#rightd {
   width: 75px;
   height: 800px;
   background: white;
   position: absolute;
   left: 50%;
   top: -220px;
   margin-left:-10px;
   transform: rotate( 56deg );
   -webkit-transform: rotate( 56deg );
   -moz-transform: rotate( 56deg );
   -ms-transform: rotate( 56deg );
}

#tl {
   width: 25px;
   height: 500px;
   background: red;
   position: absolute;
   top: -235px;
   margin-left:-10px;
   transform: rotate( -56deg );
   -webkit-transform: rotate( -56deg );
   -moz-transform: rotate( -56deg );
   -ms-transform: rotate( -56deg );
}

#br {
   width: 25px;
   height: 400px;
   background: red;
   position: absolute;
   left: 75%;
   top: 80px;
   margin-left:-10px;
   transform: rotate( -56deg );
   -webkit-transform: rotate( -56deg );
   -moz-transform: rotate( -56deg );
   -ms-transform: rotate( -56deg );
}

#bl {
   width: 25px;
   height: 600px;
   background: red;
   position: absolute;
   top: 115px;
   margin-left:-10px;
   transform: rotate( 56deg );
   -webkit-transform: rotate( 56deg );
   -moz-transform: rotate( 56deg );
   -ms-transform: rotate( 56deg );
}

#tr {
   width: 25px;
   height: 400px;
   background: red;
   position: absolute;
   left: 75%;
   top: -120px;
   margin-left:-10px;
   transform: rotate( 56deg );
   -webkit-transform: rotate( 56deg );
   -moz-transform: rotate( 56deg );
   -ms-transform: rotate( 56deg );
}

#virtw {
   width: 130px;
   height: 100%;
   background: white;
   position: absolute;
   left: 50%;
   margin-left: -65px;
}

#horizontw {
   width: 100%;
   height: 130px;
   background: white;
   position: absolute;
   top: 50%;
   margin-top: -65px;
}

#virtr {
   width: 74px;
   height: 100%;
   background: red;
   position: absolute;
   left: 50%;
   margin-left: -37px;
}

#horizontr {
   width: 100%;
   height: 74px;
   background: red;
   position: absolute;
   top: 50%;
   margin-top: -37px;
}

